/* Box Model Hack */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body,html {
     margin: 0;
     padding: 0;
     font-family: sans-serif;
     text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
img{
     display: block;
     margin: 10vh auto 0 auto;
}

h1{
     font-size: 5rem;
     margin-top: .2em;
     margin-bottom: 0;
     color: #ffc600;
     font-family: 'Sigmar One', cursive;
}

.keys {
     display: flex;
     flex: 1;
     min-height: 20vh;
     align-items: center;
     justify-content: center;
}
   
.key {
     border: .4rem solid black;
     border-radius: .5rem;
     margin: 1rem;
     font-size: 1.5rem;
     padding: 1rem .5rem;
     transition: all .1s ease;
     width: 10rem;
     text-align: center;
     color: white;
     background: rgba(0,0,0,0.4);
     text-shadow: 0 0 .5rem black;
}
   
.playing {
     transform: scale(1.1);
     border-color: #ffc600;
     box-shadow: 0 0 1rem #ffc600;
}
   
kbd {
     display: block;
     font-size: 4rem;
}
   
.letterType {
     font-size: 1.2rem;
     text-transform: uppercase;
     letter-spacing: .1rem;
     color: #ffc600;
}